@import "tailwindcss";

@theme {
  --font-serif: "Noto Serif", serif;
  --font-sans: "Manrope", sans-serif;

  --color-primary: #C5A059;
  --color-primary-dark: #A68045;
  --color-bg: #121212;
  --color-surface: #1E1E1E;
}

@layer base {
  body {
    @apply bg-bg text-stone-200 font-sans antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}

.glass {
  @apply bg-surface/80 backdrop-blur-md border border-white/10;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-bg;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary/20 rounded-full hover:bg-primary/40;
}
